/* to add margin between header and main content */
.wrapper {
  margin-top: 40px;
}

/* Styling for about me image */
.img-container {
  padding-right: 20px;
}

/* Styling for images on portfolio page */
.portfolio-img-container {
  margin: 20px;
}

/* testing for a background image */
.someclass {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
